@use '../mixins'

.section-five
    @include mixins.padding-section
    @media screen and (min-width: 1024px)
        max-width: 1200px
        margin: auto

    ul
        @include mixins.center
        flex-direction: column
        gap: 4rem
        @media screen and (min-width: 768px)
            flex-direction: row
            justify-content: space-evenly

        li img
            width: 8rem
