@use '../variables'
@use '../mixins'

.footer-container
    background-color: variables.$alice-blue
    padding: 4rem 1.5rem

footer article
    margin-bottom: 3rem

    img
        width: 4rem

footer ul li
    margin-bottom: 1rem

    button
        background-color: transparent
        color: variables.$grayish-blue
        font-size: 1rem
        border: none
        outline: none
        cursor: pointer
        transition: 0.5s ease-in-out
        &:hover
            color: variables.$strong-cyan

.social-media
    @include mixins.center
    gap: 2rem
    margin-top: 3rem
    cursor: pointer
