.section-two
    padding: 0 1.5rem 8rem

    .computer > article:first-child
        margin-bottom: 3rem

    .computer > article:nth-child(2)
        display: grid
        grid-template-columns: repeat(1,1fr)
        gap: 2rem

        h3
            margin-bottom: 0.5rem
