@use 'variables'

@mixin center
    display: flex
    justify-content: center
    align-items: center

@mixin btn-green
    background-color: variables.$strong-cyan
    color: variables.$white
    padding: 0.8rem 2rem
    border-radius: 30px
    font-weight: bold
    border: none
    box-shadow: 4px 4px 10px hsl(171, 66%, 44%, 0.4)
    cursor: pointer
    transition: 0.5s ease-in-out
    &:hover
        opacity: 0.75

@mixin btn-blue
    background-color: variables.$light-blue
    color: variables.$white
    padding: 0.8rem 2rem
    border-radius: 30px
    font-weight: bold
    border: none
    box-shadow: 4px 4px 10px hsl(171, 66%, 44%, 0.4)
    cursor: pointer
    transition: 0.5s ease-in-out
    &:hover
        opacity: 0.75

@mixin grid
    display: grid
    grid-template-columns: repeat(1,1fr)

@mixin padding-section
    padding: 0 1.5rem 8rem
